/* Extra small devices (portrait phones, less than 576px)*/
@media(max-width: 575px) { 
/*header*/
.c_img{
	width: 150px;
}
.my-nav{
	margin: 0;
}
.a-nav{
	margin: 0 ;
}
	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
/*header*/
.c_img{
	width: 150px;
}
.my-nav{
	margin: 0;
}
.a-nav{
	margin: 0 ;
}	
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
/*header*/
.my-nav{
	margin: 0;
}
.a-nav{
	margin: 0 ;
}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
/*header*/
.my-nav{
	margin: 15px 0px 15px 250px;
}
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width:1399px) { 

}
/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width:1400px){
/*	header*/
.my-nav{
	margin: 15px 0px 15px 700px;
}
}